= simple_form_for [ :admin, @group ] do |f|
  .row
    .columns.small-12.medium-6
      = f.input :name
      = f.label :grid, 'Add a square grid picture'
      - if @group.grid.present?
        = image_tag @group.grid.url(:thumb)
      = f.input :grid, label: false
      .spacer_20
      = f.label :background, 'Upload a BIG photo as the banner'
      - if @group.background.present?
        = image_tag @group.background.url
      = f.input :background, label: false
      .spacer_20

  .row
    .columns.small-12
      = button_tag(type: 'submit', class: 'btn btn-success pull-right with-icon') do
        = @group.new_record? ? 'Create' : 'Update'
        %i.fa.fa-angle-double-right
