%h1 Categories
= link_to "New", new_admin_group_path, :class => 'btn btn-info pull-right'
.clear

%table.groups
  %thead
    %tr
      %th.group-name= sortable 'name'
      %th Actions

  %tbody
    - @groups.each do |group|
      %tr
        %td.group-name= group.name
        %td
          = link_to 'Open', admin_group_path(group), :class => 'btn btn-table btn-mini'

= paginate @groups
